workflows/Save to Github
{"name":"Save to Github","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"name":"When clicking ‘Execute workflow’"},{"parameters":{"batchSize":"=1","options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"name":"Loop Over Items"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"VSavard","mode":"name"},"repository":{"__rl":true,"value":"office_assitant","mode":"list","cachedResultName":"office_assitant","cachedResultUrl":"https://github.com/VSavard/office_assitant"},"filePath":"=workflows/{{ $json.workflow.name }}","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"name":"Get a file","webhookId":"ee93f18c-4e93-4d10-ba08-b13212dd16fe","credentials":{"githubApi":{"id":"cQnjCwN3BOF9jGTC","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3929bcf0-75a5-480f-98ab-aa5fedd04136","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"name":"If"},{"parameters":{"jsCode":"const workflowsToProcess = [];\n\n// Le payload est un tableau unique [0] contenant un objet JSON avec la clé 'data'\nconst allWorkflows = items[0].json.data;\n\n// Boucle sur le tableau des workflows récupérés\nfor (const workflow of allWorkflows) {\n    \n    // --- 1. NETTOYAGE DES MÉTADONNÉES (Pour un historique Git propre) ---\n    \n    // Créer une copie propre de l'objet workflow (pour éviter de modifier l'original)\n    const cleanedWorkflow = JSON.parse(JSON.stringify(workflow));\n\n    // Suppression des métadonnées qui changent souvent\n    delete cleanedWorkflow.createdAt;\n    delete cleanedWorkflow.updatedAt;\n    delete cleanedWorkflow.isArchived;\n    delete cleanedWorkflow.versionId;\n    delete cleanedWorkflow.triggerCount;\n\n    // Suppression des ID spécifiques à l'instance (optionnel mais recommandé)\n    delete cleanedWorkflow.id;\n    \n    // Nettoyage des nœuds\n    if (cleanedWorkflow.nodes) {\n        for (const node of cleanedWorkflow.nodes) {\n            delete node.id;\n            delete node.position;\n        }\n    }\n\n\n    // --- 2. CRÉATION DU NOM DE FICHIER (Pour File Path dans GitHub) ---\n    \n    let baseName = 'untitled_workflow'; \n    if (cleanedWorkflow.name && typeof cleanedWorkflow.name === 'string') {\n        baseName = cleanedWorkflow.name;\n    }\n    const safeName = baseName.replace(/[^a-zA-Z0-9\\s]/g, '').trim().replace(/\\s+/g, '_');\n    \n    // Création du nom de fichier final\n    const fileName = `${safeName || 'error_fallback'}.json`;\n\n\n    // --- 3. CONVERSION EN BASE64 POUR GITHUB ---\n    \n    // Convertit le workflow nettoyé en chaîne JSON\n    const jsonString = JSON.stringify(cleanedWorkflow);\n    \n    // Convertit la chaîne JSON en Base64\n    const base64Content = Buffer.from(jsonString).toString('base64');\n\n    \n    // --- 4. PRÉPARATION DE L'OUTPUT ---\n    \n    // Ajout de l'objet final pour le prochain nœud\n    workflowsToProcess.push({\n        json: {\n            // Ces champs seront utilisés directement dans les expressions des nœuds GitHub\n            workflow: cleanedWorkflow, \n            fileName: fileName,\n            base64Content: base64Content\n        }\n    });\n}\n\n// Renvoyer un nouvel ensemble d'éléments, chacun contenant un seul workflow\nreturn workflowsToProcess;"},"type":"n8n-nodes-base.code","typeVersion":2,"name":"Cleaning","alwaysOutputData":false},{"parameters":{"url":"http://localhost:5678/api/v1/workflows","authentication":"predefinedCredentialType","nodeCredentialType":"n8nApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"name":"n8n Workflows list","credentials":{"n8nApi":{"id":"3mT5jEbuYRoGBFJT","name":"n8n account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"VSavard","mode":"name"},"repository":{"__rl":true,"value":"office_assitant","mode":"list","cachedResultName":"office_assitant","cachedResultUrl":"https://github.com/VSavard/office_assitant"},"filePath":"={{ $('Loop Over Items').item.json.workflow.name }}","fileContent":"={{ $('Loop Over Items').item.json.base64Content }}","commitMessage":"[CREATE] New workflow: {{ $('Loop Over Items').item.json.data[0].name }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"name":"Create","webhookId":"43cad2d6-86ee-4d53-9c20-12529378b9cf","credentials":{"githubApi":{"id":"cQnjCwN3BOF9jGTC","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"VSavard","mode":"name"},"repository":{"__rl":true,"value":"office_assitant","mode":"list","cachedResultName":"office_assitant","cachedResultUrl":"https://github.com/VSavard/office_assitant"},"filePath":"={{ $json.workflow.name }}","fileContent":"={{ $('Loop Over Items').item.json.base64Content }}","commitMessage":"[UPDATE] workflow: {{ $('Loop Over Items').item.json.data[0].name }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"name":"Update","webhookId":"43cad2d6-86ee-4d53-9c20-12529378b9cf","credentials":{"githubApi":{"id":"cQnjCwN3BOF9jGTC","name":"GitHub account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"n8n Workflows list","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Get a file","type":"main","index":0}],[{"node":"Cleaning","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Create","type":"main","index":0}],[{"node":"Update","type":"main","index":0}]]},"Cleaning":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"n8n Workflows list":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"shared":[{"createdAt":"2025-10-06T22:25:26.809Z","updatedAt":"2025-10-06T22:25:26.809Z","role":"workflow:owner","workflowId":"53iVkXOj2S1p0PVC","projectId":"ZN7EQrby3NVFgp8q"}],"tags":[]}